# Конфигурация подключения БД
DATABASE_TYPE=postgres
DATABASE_URL=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=postgres

# Конфигурация создания БД
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
PGDATA=/data/postgres

# JWT
JWT_SECRET=some-super-secret-key