# Конфигурация подключения БД
DATABASE_TYPE=postgres
DATABASE_URL=localhost
DATABASE_PORT=5432
DATABASE_USER=student
DATABASE_PASSWORD=1111
DATABASE_NAME=kupipodariday

# Конфигурация создания БД
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=kupipodariday_project
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
PGDATA=/data/postgres

# JWT
JWT_SECRET=some-super-secret-key