# Конфигурация подключения БД
DATABASE_TYPE=postgres
DATABASE_URL=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=kupipodariday

# JWT
JWT_SECRET=some-super-secret-key